
[HDP-2.5.0.0]
name=HDP Version - HDP-2.5.0.0
baseurl={{ repos.hdp }}
gpgcheck=0
enabled=0


[HDP-UTILS-1.1.0.21]
name=HDP-UTILS Version - HDP-UTILS-1.1.0.21
baseurl={{ repos.hdp-utils }}
gpgcheck=0
enabled=0
