# {{ansible_managed}}
[Unit]
Description=Apache Hadoop Resource Manager service
Documentation=http://hadoop.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=forking
User=yarn
Group=hadoop
ExecStart={{ hadoop_home }}/sbin/yarn-daemon.sh start resourcemanager
ExecStop={{ hadoop_home }}/sbin/yarn-daemon.sh stop resourcemanager
WorkingDirectory={{ yarn_workdir }}

[Install]
WantedBy=multi-user.target
