# {{ansible_managed}}
[Unit]
Description=Apache Hadoop Secondary Namenode service
Documentation=http://hadoop.apache.org
Requires=network.target remote-fs.target zookeeper.service
After=network.target remote-fs.target zookeeper.service

[Service]
Type=forking
User=hdfs
Group=hadoop
ExecStart={{hadoop_home}}/sbin/hadoop-daemon.sh start secondarynamenode
WorkingDirectory={{hdfs_workdir}}

[Install]
WantedBy=multi-user.target
