# {{ansible_managed}}
[Unit]
Description=Apache Zookeeper server
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=forking
User=zookeeper
Group=zookeeper
ExecStart={{zk_home}}/bin/zkServer.sh start
ExecStop={{zk_home}}/bin/zkServer.sh stop
ExecReload={{zk_home}}/bin/zkServer.sh restart
WorkingDirectory={{zk_data_dir}}

[Install]
WantedBy=multi-user.target
